body{
    background: tan;
    padding: 0;
}
nav{
    position: relative;
    background: darkred;
    height: 75px;
    width: 100%;
    margin: 0;
    top: 5px;
}
footer{
    position: fixed;
    background: darkred;
    height: 50px;
    width: 100%;
    bottom: 0;
}
p{
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: 45%;
}
button{
    position: relative;
    height: 85px;
    width: 8%;
    vertical-align: middle;
    top: -5px;
}

.card{
    position: relative;
    top: 100px;
    width: 900px;
    height: 700px;
    background: rgb(218, 33, 33);
    margin: auto;
    padding: 0 2% 3% 2%;
    border-radius: 1%;
}
.question{
    position: relative;
    background: rgb(218, 33, 33);
    height: 20%;
    text-align: center;
    top: 0;
    font-size: 32px;
    border-radius: 1%;
}
.answer{
    background: brown;
    height: 140px;
    width: 100%;
    border: outset; 
    border-width: 20%;
    margin: .4% auto;
    border-radius: 5%;
}
.navItem{
    margin: 0;
}

#inGame{
    position: relative;
    color: lightsalmon;
    font-size: 32px;
    display: inline;
    padding: 1%;
}
#score{
    position: relative;
    color: lightsalmon;
    font-size: 32px;
    display: inline;
    padding: 1%;
}